---
layout: archive
title: "Professional Experience"
permalink: /professional/
author_profile: true
---

{% include base_path %}

<p class="publication__header">I have had the privilege of working at various tech companies spanning different roles. Some of these experiences include:</p>

<!-- Display all professional experience in chronological order (newest first) -->
<div class="publication__list">
{% assign sorted_professional = site.professional | sort: 'date' | reverse %}
{% for post in sorted_professional %}
  {% include archive-single-professional.html %}
{% endfor %}
</div>

