---
layout: archive
title: "Professional"
permalink: /professional/
author_profile: true
---

{% include base_path %}

<p class="publication__header">I have had the privilege to work at various tech companies spanning across different roles. Some of my experiences are listed below, with the most recent first.</p>

<!-- Display all professional experience in chronological order (newest first) -->
<div class="publication__list">
{% assign sorted_professional = site.professional | sort: 'date' | reverse %}
{% for post in sorted_professional %}
  {% include archive-single-professional.html %}
{% endfor %}
</div>

