---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap publication__header">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign has_equal_contribution = false %}
{% for post in site.publications %}
  {% if post.authors contains '*' %}
    {% assign has_equal_contribution = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if has_equal_contribution %}
  <p class="publication__equal-contribution-note">* = equal contribution</p>
{% endif %}

<!-- Display all publications in chronological order (newest first) -->
<div class="publication__list">
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}
{% for post in sorted_publications %}
  {% include archive-single-publication.html %}
{% endfor %}
</div>



