{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="publication__item">
  <article class="publication__item-content" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="publication__wrapper">
      {% if teaser %}
      <div class="publication__teaser teaching__teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% elsif teaser contains "/" %}
            "{{ teaser | prepend: base_path }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{{ title }}">
      </div>
      {% endif %}
      
      <div class="publication__body">
        <h2 class="publication__title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h2>
        
        {% if post.type %}
        <p class="publication__authors" style="margin-bottom: 0.25em;"><em>{{ post.type }}</em></p>
        {% endif %}
        
        {% if post.venue or post.date %}
        <p class="publication__authors" style="margin-top: 0;">
          {% if post.venue %}{{ post.venue }}{% endif %}{% if post.venue and post.date %}, {% endif %}{% if post.date %}
            {% assign month = post.date | date: "%m" | plus: 0 %}
            {% if month >= 1 and month <= 5 %}
              Spring {{ post.date | date: "%Y" }}
            {% elsif month >= 6 and month <= 7 %}
              Summer {{ post.date | date: "%Y" }}
            {% else %}
              Fall {{ post.date | date: "%Y" }}
            {% endif %}
          {% endif %}
        </p>
        {% endif %}
      </div>
    </div>
  </article>
</div>

